{% extends 'style.html' %}
{% block content %}
<div>
    <div>
        <a href="{{ url_for('main.index') }}">Return to file index</a>
        <h3>{{ package.name }}</h3>
        <div>
            <p>
                Description: {{ package.description }}
            </p>
         </div>
            <div>Depends:
                <ul>
                    {% for dependency in dependencies %}
                        {% if dependency == 'None' %}
                            <p>None</p>
                        {% elif dependency.strip() in package_names %}
                            <li><a href="{{ url_for('main.package', name=dependency.strip()) }}">
                                {{ dependency }}
                            </a></li>
                        {% else %}
                            <li>
                                {{ dependency }}
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% for alternatives in alternatives_list %}
                        <li>
                            <div>
                                {% for alternative in alternatives %}
                                    {% if alternative.strip() in package_names %}
                                        <a href="{{ url_for('main.package', name=alternative.strip()) }}">{{ alternative }}</a>
                                    {% else %}
                                        <small> or </small> {{ alternative }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div>Depended on by:
                <ul>
                    {% for package in packages_depending %}
                        {% if packages_depending.count(package) == 1 %}
                            <li>
                                <a href="{{ url_for('main.package', name=package.name) }}">{{ package.name }}</a>
                            </li>
                        {% elif packages_depending.count(package) > 1 %}
                            <li>
                                <a href="{{ url_for('main.package', name=package.name) }}"></a>
                            </li>
                        {% else %}
                            None
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
    </div>
</div>
{% endblock content %}