{% extends 'style.html' %}
{% block content %}
<br>
<div>
    <div>
        <a href="{{ url_for('main.index') }}">Return to file index</a>
        <h3>{{ package.name }}</h3>
        <div>
            <p>
                Description: {{ package.description }}
            </p>
         </div>
            <div>Depends:
                <ul style='column-count: 1;column-gap: 0;'>
                    {% for dependency in dependencies %}
                        {% if dependency == 'None' %}
                            <p>None</p>
                        <!--Checks if package definition exists before creating a link to it-->
                        {% elif dependency.strip() in package_names %}
                            <li style='display: inline-flexbox;'><a href="{{ url_for('main.package', name=dependency.strip()) }}">
                                {{ dependency }}
                            </a></li>
                        {% else %}
                            <li style='display: inline-flexbox;'>
                                {{ dependency }}
                            </li>
                        {% endif %}
                    {% endfor %}
                    <!--Packages with alternatives are stored in a separate list-->
                    {% for alternatives in alternatives_list %}
                        <li style='display: inline-flexbox;'>
                            <div>
                                {% for alternative in alternatives %}
                                    {% if alternative.strip() in package_names %}
                                        {% if alternative == alternatives[0] %}
                                            <a href="{{ url_for('main.package', name=alternative.strip()) }}">{{ alternative }}</a>
                                        {% else %}
                                            <small> or </small><a href="{{ url_for('main.package', name=alternative.strip()) }}">{{ alternative }}</a>
                                        {% endif %}
                                    {% else %}
                                        <small> or </small> {{ alternative }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div>Depended on by:
                <ul style='column-count: 2;column-gap: 0;'>
                    <!--Different versions of the same package have been filtered out-->
                    {% if packages_depending %}
                        {% for package in packages_depending %}
                            {% if package.name in package_names %}
                                <li style='display: inline-flexbox;'>
                                    <a href="{{ url_for('main.package', name=package.name) }}">{{ package.name }}</a>
                                </li>
                            {% else %}
                                <li style='display: inline-flexbox;'>
                                    {{ package.name }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        None
                    {% endif %}
                </ul>
            </div>
    </div>
</div>
{% endblock content %}