<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>pReader - {{ title }}</title>
    {% else %}
    <title>pReader</title>
    {% endif %}
</head>
<body>
    <div>**View this project on <a href="https://github.com/jkerola/reaktor-preader">Github</a>
    </div>
    <br>
    {% block content %}{% endblock content %}
    <div style='text-align: center;'>
        <br><br>
        <p>Janne Kerola @ <a href="https://www.jkerola.com">jkerola.com</a></p>
    </div>
</body>
</html>